body {
  background: linear-gradient(to right, #f09819, #edde5d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family:'Times New Roman', Times, serif;
}

form {
  text-align: center;
  line-height: 30px;
  height: 80%;
  overflow: auto;
}

/*#button-style {
	background-color: yellow;
	color: black;
}*/

h1 {
  text-align: center;
}
#ip2 {
    border-radius: 10px;
    border: 2px solid #000;
    padding: 20px; 
    width: 200px;
    height: 15px;    
	text-align : center;
	
}
#ip3 {
    border-radius: 25px;
    border: 2px solid #000;
    padding: 20px; 
    width: 80px;
    height: 10px;  
	text-align : center;
}
#overlay {  
  width: 30% !important;
  margin: 3% auto !important;
  height: 80vh !important;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 40px !important;
  /*opacity: 0.5 !important;*/
}

#logo {
  height: 200px;
  display: block;
  margin: auto;
}

#title {
  height: 100px;
  display: block;
  margin: auto;
}
}
